@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090B;
  --foreground: #E5E6EB;
}

body {
  color: var(--foreground);
  background-color: #09090B;
  font-family: var(--font-inter), system-ui, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
